@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

header{
    width: 1024px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'Neucha', cursive;
}

ul{
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.logo{
    color: rgb(138, 146, 255);
}

main{
    width: 1024px;
    margin: auto;
    font-family: 'Neucha', cursive;
}

.briefly{
    background-color: rgb(138, 146, 255);
    color: aliceblue;
    border-radius: 5px;
    padding: 2px;
}

.call{
    color: rgb(138, 146, 255);
    font-size: 40px;
}

.container{
    margin: 40px 0px;
    display: flex;
}

.hello{
    font-weight: 100;
    margin: 30px 0px 0px 0px;
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

.button{
    display: flex;
}

.button1{
    background-color: rgb(138, 146, 255);
    padding: 15px 40px;
    color: aliceblue;
    border-radius: 10px;
    font-weight: 600;
    margin: 0px 30px 0px 0px;
}

.button2{
    padding: 15px 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    margin: 0px 30px 0px 0px;
}

.imgbig{
   background-color: rgb(138, 146, 255); 
   border-radius: 10px;
   margin: auto;
}

.img{
    background-image: url("туту.png");
    width: 400px;
    height: 300px;
    background-size: contain;
    margin: -30px 0px 0px 30px;
    background-repeat: no-repeat;
}

.about{
    font-size: 35px;
    color: rgb(50, 140, 64);
}

.iam{
    width: 1024px;
    text-align: center;
}

.Who_am_I{
    color:rgb(71, 71, 71);
}

.fa-brands{
    color: rgb(50, 140, 64);
    font-size: 20px;
}

.footer{
    text-align: center;
}

.start_of_resume{
    font-size: 40px;
    color: rgb(138, 146, 255);
    text-align: center;
}

.experience{
    font-size: 40px;
    color: rgb(50, 140, 64);
}

.tild{
    font-size: 20px;
    color: rgb(50, 140, 64); 
    background-color: rgb(250, 250, 250);
    border-radius: 10px 10px 0 0;
    width: 1024px;
    text-align: center;}

.myex1{
    background-color: rgb(136, 152, 255);
    border-radius: 0 0 10px 10px;
    margin: -15px 0 0 0;
    padding: 20px;
    font-size: larger;
    color: rgb(255, 255, 255);
}

.ex1{
    border: 5px dashed rgb(217, 217, 255);
    border-radius: 10px;
    width: 1050px;
}

.e2{
    margin-top: 40px;
}

.xtoi{
    display: flex;
    flex-wrap: wrap;
}

.xtoi2{
    /* долбоеб. Встала ради проекта в 6:30 так как ничег не делала дома */
    background-color: rgb(180, 193, 255);
    border-radius: 10px;
    margin: 35px;
    width: 250px;
    text-align: center;
    color: rgb(14, 0, 70);
    font-size: 15px;
    padding: 10px;
    font-weight:bold;
}

.skills{
    color: rgb(0, 156, 10);
    font-size: 30px;
}

.proj{
    display: flex;
    padding: 10px;
}

.img1{
    background-image: url("p1.png");
    width: 215px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 20px 20px 0;
}

.p1{
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 20px 0 0 20px;
    width: 1024px;
    height: 200px;
}

.teg{
    font-size: 25px;
}

.but{
    margin: auto;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    margin: 0px 100px;
    padding: 10px;
}

.but2{
    color: aliceblue;
    text-align: center;
}

.q2{
    background-image: url("p2.png");
    width: 510px;
    height: 370px;
}

.B{
    margin-left: 90px;
}

.q3{
    background-image: url("p3.png");
    width: 650px
}

.pt{
    margin: -100px 0 0 0;
}

.end{
    background-color: rgb(132, 132, 247);
    font-size: 30px;
    font-weight: 900;
    height: 200px;
    text-align: center;
    padding: 40px 0 0 0;
    color:rgb(255, 255, 255);
}

.butterr{
    margin-top: 50px;
    font-size: medium;
    border: 2px solid rgb(0, 0, 98);
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}